body{
    font-family: helvetice,arial,sans-serif;
    font-size: 14px;
      background-image: url("../images/stage.jpg");
      background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.hidden{
      display:none;
}

#container{
   width: 1500px;
   margin: 0 auto;
   display: flex;
   flex-direction: column;

}

h1{
  text-align: center;
}

.controllers{
  width: 600px;
  display: grid;
  grid-template-columns:3fr 3fr 3fr ;
  margin:0 auto;
  grid-gap: 5px;
}

/*play pause and restart*/
button{
      /*display: block;*/
  font-size: 18px;
  padding: 10px;
  cursor: pointer;
  color: #ffffff;
  background-color: #000000;
}
button:hover{
  color: #000000;
  background-color: red;
}

/* pop up mechanics */
.boardbox{
  position: absolute;
  margin: 100px 400px;
  width: 700px;
  height: 500px;
  color: white;
  background-color: black;
  opacity: 75%;
  /*border-style: outset;*/
  /*border-width: 10px;*/
  /*border-color: red;*/
  display: none;
  padding: 0px 10px 0px 10px;
  /*eventually we will hide it by default display:none*/
}

.title, .subMechanics {
  font-weight: bold;
  font-size: 18px
}

#countries {
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(3, 90px);
  grid-template-rows: auto;
  grid-gap: 100px;
  padding: 0px 100px 0px 100px;
}

.show-boardbox{
  display: block;
}

.close-button{
  color: red;
  font-size: 20px;
  padding: 10px;
  float: right;

  cursor: pointer;
}

#stage{
	text-align: center;
	 margin: 10px auto;
	width: 1500px;
	height: 650px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;

	}


.area{
	 width: 450px;
   height: 600px;
   margin-top: 20px;

}

.dropzone{
 margin: 50px auto;
  width: 280px;
 height: 350px;
}


.dropzone-Philippines img:hover{
  -moz-box-shadow: 0 0 20px blue;
      -webkit-box-shadow: 0 0 20px blue;
      box-shadow: 0 0 20px blue;
}

.dropzone-China img:hover{
    -moz-box-shadow: 0 0 20px red;
      -webkit-box-shadow: 0 0 20px red;
      box-shadow: 0 0 20px red;
}

.dropzone-Japan img:hover{
    -moz-box-shadow: 0 0 20px lime;
      -webkit-box-shadow: 0 0 20px lime;
      box-shadow: 0 0 20px lime;
}

.dragzone{
	margin: 10px auto;
	width: 450px;
	height: 150px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;

}

.dragzone img:hover{
  border-color: grey;
  transform: scale(1.3);
}

.dragzone-China img:hover{
  background-color: red;
}

.dragzone-Philippines img:hover{
  background-color: blue;
}

.dragzone-Japan img:hover{
  background-color:lime;
}


.button{
    width: 90px;
    height: 90px;
    background-color: #ffffff;
    padding: 5px;
    margin: 5px;
    border-style: groove;
    border-width: 5px;
}

.button-p{
   border-color: blue;
  }


.button-j{
   border-color: lime;
  }


.button-c{
   border-color: red;
  }
